In [58]:
# !pip install mysql
# !pip install mysql-connector
# !pip install pymysql
#!pip install uszipcode
!pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 3.2 MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [261]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
import sys
import mysql.connector
from mysql.connector import Error
import mysql
from sqlalchemy import create_engine
import pymysql
import geopy
import os

In [42]:
def load_data(href):
    return pd.read_csv(href)

In [ ]:
def get_zillow_link():
    url  = "https://www.zillow.com/research/data/"
    response = requests.get(url)
    soup = BeautifulSoup(response.content,features="lxml")
    href = soup.find('a', attrs={'id':'home-values-forecasts-download-link'}).attrs['href']
    print('Getting data from the following link:\n',href)
    return href

In [46]:
def get_airbnb_link():
    url  = "http://insideairbnb.com/get-the-data.html"
    response = requests.get(url)
    soup = BeautifulSoup(response.content,features="lxml")
    href = soup.find('a', attrs={'href':'http://data.insideairbnb.com/united-states/ca/san-diego/2021-12-20/visualisations/listings.csv'}).attrs['href']
    print('Getting data from the following link:\n',href)
    return href

In [44]:
zillow_link = get_zillow_link()
df_zillow = load_data(zillow_link)

Getting data from the following link:
 https://files.zillowstatic.com/research/public_csvs/zhvf/zhvf_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv?t=1646761094

In [157]:
airbnb_link = get_airbnb_link()
df_airbnb = load_data(airbnb_link)
df_airbnb

Getting data from the following link:
 http://data.insideairbnb.com/united-states/ca/san-diego/2021-12-20/visualisations/listings.csv

             id                                               name    host_id          host_name  neighbourhood_group    neighbourhood   latitude   longitude        room_type  price  minimum_nights  number_of_reviews last_review  reviews_per_month  calculated_host_listings_count  availability_365  number_of_reviews_ltm  license
0          5570                      Ocean front condo on the sand       8435        Jef Karchin                  NaN      Mission Bay  32.784810 -117.253130  Entire home/apt   2050               3                  0         NaN                NaN                               3               156                      0      NaN
1         29967                   Great home, 10 min walk to Beach     129123            Michael                  NaN    Pacific Beach  32.807510 -117.257600  Entire home/apt    234               4                 72  2021-12-16               0.52                               5               246                     10      NaN
2         38245                         Point Loma: Den downstairs     164137            Melinda                  NaN        Roseville  32.742170 -117.219310     Private room     74               1                146  2021-08-15               1.06                               3               347                      3      NaN
3         54001  La Jolla Garden Cottage: Blks to Ocn; 2Bdms, 1...     252692             Marsha                  NaN         La Jolla  32.813010 -117.268560  Entire home/apt    258               5                280  2021-11-26               2.10                               2                34                     37      NaN
4         62274                 charming, colorful, close to beach     302986             Isabel                  NaN    Pacific Beach  32.805830 -117.242440  Entire home/apt     80               1                689  2021-12-05               5.12                               2               322                     68      NaN
...         ...                                                ...        ...                ...                  ...              ...        ...         ...              ...    ...             ...                ...         ...                ...                             ...               ...                    ...      ...
10296  53895611                  carmel valley 独栋别墅短租房带独立卫浴，每次清洁消毒  250895609            Wenjing                  NaN    Carmel Valley  32.958557 -117.207200     Private room     53               1                  0         NaN                NaN                               1               356                      0      NaN
10297  53900782  Gaslamp District Comic Con 2022 Dates Availabl...  436292000              Kevin                  NaN  Gaslamp Quarter  32.715069 -117.159698     Private room    260               3                  0         NaN                NaN                               2                 8                      0      NaN
10298  53903862   Walkable PB Condo Garnet Free Parking Fast Wifi!  336396789        Surfseekers                  NaN    Pacific Beach  32.803373 -117.231871  Entire home/apt    259               1                  0         NaN                NaN                               9               362                      0      NaN
10299  53908566  Water-View Home with Rooftop Deck - Private Po...  111814852  Vacasa California                  NaN         Old Town  32.747230 -117.189154  Entire home/apt   1090               2                  0         NaN                NaN                              35               364                      0      NaN
10300  53908574  Snowbird/Dog-Friendly Home w/ Water Views, Dec...  111814852  Vacasa California                  NaN         Bay Park  32.783970 -117.201280  Entire home/apt    989               2                  0         NaN                NaN                              35               365                      0      NaN

[10301 rows x 18 columns]

In [107]:
## Save data into database 
# Create database
def set_database(db_name):
    try:
        db_con = mysql.connector.connect(host='localhost', user='root',password='root1234')
        if db_con.is_connected():
            cursor = db_con.cursor()
            cursor.execute("SHOW DATABASES")
            print([x for x in cursor])
            cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
            print("Database is created")
    except Error as e:
        print("Error while connecting to MySQL", e)

In [108]:
set_database("SDRE_data")

[('information_schema',), ('mysql',), ('performance_schema',), ('SDRE_data',), ('sys',)]
Database is created

In [142]:
def save_to_database(data,tb_name):
    sqlEngine       = create_engine('mysql://root:root1234@localhost/SDRE_data', pool_recycle=3600)
    dbConnection    = sqlEngine.connect()

    try:
        result = sqlEngine.execute(f'DROP TABLE IF EXISTS {tb_name};')
        table_zillow = data.to_sql(tb_name, dbConnection, if_exists='fail');

    except ValueError as vx:
        print(vx)

    except Exception as ex:   
        print(ex)

    else:
        print(f"Table {tb_name} created successfully.");   

    finally:
        dbConnection.close()

In [156]:
save_to_database(df_airbnb,tb_name = 'airbnb_tb')

(MySQLdb._exceptions.OperationalError) (1366, "Incorrect string value: '\\xF0\\x9F\\x8F\\x96 P...' for column 'name' at row 53")
[SQL: INSERT INTO airbnb_tb (`index`, id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)]
[parameters: ((0, 5570, 'Ocean front condo on the sand', 8435, 'Jef Karchin', None, 'Mission Bay', 32.78481, -117.25313, 'Entire home/apt', 2050, 3, 0, None, None, 3, 156, 0, None), (1, 29967, 'Great home, 10 min walk to Beach', 129123, 'Michael', None, 'Pacific Beach', 32.80751, -117.2576, 'Entire home/apt', 234, 4, 72, '2021-12-16', 0.52, 5, 246, 10, None), (2, 38245, 'Point Loma: Den downstairs', 164137, 'Melinda', None, 'Roseville', 32.74217, -117.21931, 'Private room', 74, 1, 146, '2021-08-15', 1.06, 3, 347, 3, None), (3, 54001, 'La Jolla Garden Cottage: Blks to Ocn; 2Bdms, 1Bth.', 252692, 'Marsha', None, 'La Jolla', 32.81301, -117.26856, 'Entire home/apt', 258, 5, 280, '2021-11-26', 2.1, 2, 34, 37, None), (4, 62274, 'charming, colorful, close to beach', 302986, 'Isabel', None, 'Pacific Beach', 32.80583, -117.24244, 'Entire home/apt', 80, 1, 689, '2021-12-05', 5.12, 2, 322, 68, None), (5, 62949, 'Pacific Beach Cozy Private Hideaway Bikes Included', 21532, 'Lisa', None, 'Pacific Beach', 32.80885, -117.23043, 'Entire home/apt', 91, 1, 821, '2021-12-13', 7.23, 2, 68, 107, None), (6, 67441, 'Canyon apartment hideaway', 332552, 'Peter', None, 'College Area', 32.76347, -117.07753, 'Entire home/apt', 70, 30, 6, '2021-11-04', 0.08, 6, 287, 3, None), (7, 75668, 'San Diego Living by JA 2', 401936, 'Johnathon', None, 'North Hills', 32.74699, -117.14243, 'Private room', 45, 2, 195, '2020-09-30', 1.54, 2, 200, 0, None)  ... displaying 10 of 10299 total bound parameter sets ...  (10299, 53908566, 'Water-View Home with Rooftop Deck - Private Pool & Hot Tub - AC, WiFi, Dogs OK', 111814852, 'Vacasa California', None, 'Old Town', 32.74723042341449, -117.18915402650887, 'Entire home/apt', 1090, 2, 0, None, None, 35, 364, 0, None), (10300, 53908574, 'Snowbird/Dog-Friendly Home w/ Water Views, Deck, Private Pool/Hot Tub, & WiFi!', 111814852, 'Vacasa California', None, 'Bay Park', 32.78397, -117.20128, 'Entire home/apt', 989, 2, 0, None, None, 35, 365, 0, None))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [144]:
save_to_database(df_zillow,tb_name = 'zillow_tb')

Table zillow_tb created successfully.

In [159]:
# from uszipcode import SearchEngine
# engine = SearchEngine()
# result = engine.by_coordinates(39.122229, -77.133578, radius=25)
# for zipcode in zipcodes:
#     print(zipcode.zipcode, zipcode.major_city, zipcode.population)

{'place_id': 4357469,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'node',
 'osm_id': 596075759,
 'lat': '32.91007',
 'lon': '-117.13073',
 'display_name': '9024, Caminito Vera, Mesa Village Homeowners Association, Mira Mesa, San Diego, San Diego County, California, 92126, United States',
 'address': {'house_number': '9024',
  'road': 'Caminito Vera',
  'residential': 'Mesa Village Homeowners Association',
  'suburb': 'Mira Mesa',
  'city': 'San Diego',
  'county': 'San Diego County',
  'state': 'California',
  'postcode': '92126',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['32.91002', '32.91012', '-117.13078', '-117.13068']}

In [266]:
# Check if df_coor_zip.csv extist
if os.path.exists('df_coor_zip.csv') == False:
    
    ## Transfer latitude and longitude to zipcode with geopy.Nominatim
    geolocator = geopy.Nominatim(user_agent='user_agent')
    zipcodes = []
    for i in range(len(df_airbnb)):
        info= geolocator.reverse((df_airbnb.iloc[i].latitude, df_airbnb.iloc[i].longitude))
        if 'postcode' in info.raw['address'].keys():
            zipcodes.append(info.raw['address']['postcode'])
        else:
            zipcodes.append('Unknown')
            
            
    df_airbnb['zipcode'] = [x.split('-')[0] for x in zipcodes]
    df_coor_zip = df_airbnb.loc[:,['id','latitude','longitude','zipcode']]
    df_coor_zip.to_csv('df_coor_zip.csv')
    
else: 
    df_coor_zip = pd.read_csv('df_coor_zip.csv')
    df_airbnb['zipcode'] = df_coor_zip['zipcode']

In [34]:
sqlEngine       = create_engine('mysql://root:root1234@localhost/SDRE_data', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

test_df = pd.read_sql("select * from SDRE_data.df_zillow", dbConnection);

 

pd.set_option('display.expand_frame_repr', False)
dbConnection.close()

In [35]:
test_df

       index   Region     RegionName StateName                    CountyName    CityName ForecastedDate  ForecastYoYPctChange
0          0  Country  United States      None                          None        None     2023-01-31                  17.3
1          1      Msa   Aberdeen, WA        WA                          None        None     2023-01-31                  26.1
2          2      Msa    Abilene, TX        TX                          None        None     2023-01-31                  14.5
3          3      Msa     Adrian, MI        MI                          None        None     2023-01-31                  14.7
4          4      Msa      Akron, OH        OH                          None        None     2023-01-31                  15.1
...      ...      ...            ...       ...                           ...         ...            ...                   ...
23243  23243      Zip          99701        AK  Fairbanks North Star Borough   Fairbanks     2023-01-31                   6.9
23244  23244      Zip          99705        AK  Fairbanks North Star Borough  North Pole     2023-01-31                   7.8
23245  23245      Zip          99709        AK  Fairbanks North Star Borough   Fairbanks     2023-01-31                   7.3
23246  23246      Zip          99712        AK  Fairbanks North Star Borough   Fairbanks     2023-01-31                   8.1
23247  23247      Zip          99714        AK  Fairbanks North Star Borough      Salcha     2023-01-31                   7.2

[23248 rows x 8 columns]

In [11]:
db_con = mysql.connector.connect(host='localhost', user='root',password='root1234')
db_con.

In [ ]:
try:
    conn = mysql.connect(host='localhost', database='employee', user='root', password='root@123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS employee_data;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE employee_data(first_name varchar(255),last_name varchar(255),company_name varchar(255),address varchar(255),city varchar(255),county varchar(255),state varchar(255),zip int,phone1 varchar(255),phone2 varchar(255),email varchar(255),web varchar(255))")
        print("Table is created....")
        #loop through the data frame
        for i,row in empdata.iterrows():
            #here %S means string values 
            sql = "INSERT INTO employee.employee_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

In [ ]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='mysql4kristy')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE employee")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

In [ ]:
mydb = mysql.connector.connect(
    host=”localhost”,
    user=”username”,
    password=”password”,
    database=”database”
)
mycursor = mydb.cursor()

In [ ]:
def load_zillow(href,con):