In [1]:
# !pip install mysql
# !pip install mysql-connector
# !pip install pymysql
#!pip install uszipcode
#!pip install geopy

## 1. Import Packages

In [2]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
import sys
import mysql.connector
from mysql.connector import Error
import mysql
from sqlalchemy import create_engine
import pymysql
import geopy
import os

## 2. Load hypter link and datasets

In [3]:
def load_data(href):
    return pd.read_csv(href)

In [4]:
def get_zillow_link():
    url  = "https://www.zillow.com/research/data/"
    response = requests.get(url)
    soup = BeautifulSoup(response.content,features="lxml")
    href = soup.find('a', attrs={'id':'home-values-forecasts-download-link'}).attrs['href']
    print('Getting data from the following link:\n',href)
    return href

In [5]:
def get_airbnb_link():
    url  = "http://insideairbnb.com/get-the-data.html"
    response = requests.get(url)
    soup = BeautifulSoup(response.content,features="lxml")
    href = soup.find('a', attrs={'href':'http://data.insideairbnb.com/united-states/ca/san-diego/2021-12-20/visualisations/listings.csv'}).attrs['href']
    print('Getting data from the following link:\n',href)
    return href

In [26]:
zillow_link = get_zillow_link()
df_zillow = load_data(zillow_link)
df_zillow.head()

Getting data from the following link:
 https://files.zillowstatic.com/research/public_csvs/zhvf/zhvf_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv?t=1647460047

,Region,RegionName,StateName,CountyName,CityName,ForecastedDate,ForecastYoYPctChange
0,Country,United States,NaN,NaN,NaN,2023-02-28,17.8
1,Msa,"Aberdeen, SD",SD,NaN,NaN,2023-02-28,15.3
2,Msa,"Aberdeen, WA",WA,NaN,NaN,2023-02-28,26.2
3,Msa,"Abilene, TX",TX,NaN,NaN,2023-02-28,15.0
4,Msa,"Ada, OK",OK,NaN,NaN,2023-02-28,15.7

In [27]:
df_zillow.dtypes

Region                   object
RegionName               object
StateName                object
CountyName               object
CityName                 object
ForecastedDate           object
ForecastYoYPctChange    float64
dtype: object

In [28]:
df_zillow = df_zillow.where(pd.notnull(df_zillow), None)
df_zillow.ForecastYoYPctChange = df_zillow.ForecastYoYPctChange.astype(str) 
df_zillow.dtypes

Region                  object
RegionName              object
StateName               object
CountyName              object
CityName                object
ForecastedDate          object
ForecastYoYPctChange    object
dtype: object

In [29]:
airbnb_link = get_airbnb_link()
df_airbnb = load_data(airbnb_link)

Getting data from the following link:
 http://data.insideairbnb.com/united-states/ca/san-diego/2021-12-20/visualisations/listings.csv

In [30]:
#df_airbnb.drop(columns=['name'],inplace = True)
df_airbnb = df_airbnb[['id','neighbourhood','latitude','longitude','room_type','price','minimum_nights','reviews_per_month']]

In [31]:
# Check if df_coor_zip.csv extist
if os.path.exists('data/df_coor_zip.csv') == False:
    
    ## Transfer latitude and longitude to zipcode with geopy.Nominatim
    geolocator = geopy.Nominatim(user_agent='user_agent')
    zipcodes = []
    for i in range(len(df_airbnb)):
        info= geolocator.reverse((df_airbnb.iloc[i].latitude, df_airbnb.iloc[i].longitude))
        if 'postcode' in info.raw['address'].keys():
            zipcodes.append(info.raw['address']['postcode'])
        else:
            zipcodes.append('Unknown')
            
            
    df_airbnb['zipcode'] = [x.split('-')[0] for x in zipcodes]
    df_coor_zip = df_airbnb.loc[:,['id','latitude','longitude','zipcode']]
    df_coor_zip.to_csv('df_coor_zip.csv')
    
else: 
    df_coor_zip = pd.read_csv('data/df_coor_zip.csv')
    df_airbnb['zipcode'] = df_coor_zip['zipcode']

In [33]:
df_airbnb = df_airbnb.where(pd.notnull(df_airbnb), None)
df_airbnb = df_airbnb.astype(str) 
df_airbnb.dtypes

id                   object
neighbourhood        object
latitude             object
longitude            object
room_type            object
price                object
minimum_nights       object
reviews_per_month    object
zipcode              object
dtype: object

In [34]:
# load rental sample data
df_rental_sample = pd.read_csv('data/rental.csv',nrows =10)
df_rental_sample = df_rental_sample.astype(str)
df_rental_sample.dtypes

MLS #                        object
Status                       object
Rental Residential Styles    object
Address Number               object
Address Street               object
Zip                          object
Bedrooms Total               object
Baths Full                   object
Baths Half                   object
Estimated Square Feet        object
Levels                       object
Year Built                   object
Listing Type                 object
Price Reflects               object
DOMLS                        object
List Price (H)               object
Original Price               object
List Date Received           object
Rented Price                 object
Close of Escrow Date         object
dtype: object

In [23]:
# load selling sampe data
df_selling_sample = pd.read_csv('data/selling.csv',nrows = 10)
df_selling_sample = df_selling_sample.astype(str)
df_selling_sample.dtypes

MLS #                    object
Status                   object
Residential Styles       object
Address Number           object
Address Street           object
Zip                      object
Map Coordinates          object
Community                object
Bedrooms Total           object
Baths Full               object
Baths Half               object
Estimated Square Feet    object
Year Built               object
DOMLS                    object
List Price (H)           object
Original Price           object
List Date Received       object
Sold Price               object
Close of Escrow Date     object
dtype: object

## 3. Create table statement

In [24]:
# reference https://github.com/kevinchiv/Predicting-Kickstarter-Success/blob/master/00%20-%20PostgreSQL%20Through%20Jupyter.ipynb

def create_table_schema(dataframe, table_name):
    
    col_names = dataframe.dtypes.index.values
   
    dtypes = dataframe.dtypes.values
   
    #every name in psql is lowercase by default
    table_name = table_name.lower()

    #statement for creating the table in psql
    create_table = "CREATE TABLE IF NOT EXISTS %s (\n" %table_name  

    for i, col_name in enumerate(col_names):

        dtype = dtypes[i]
        col_name = col_name.lower().replace(' ', '_')
        create_table += "\t"

        #assign column types and default values of null
        if dtype == 'int64':
            create_table = create_table + col_name + " INT DEFAULT NULL"

        elif dtype == 'object':
            create_table = create_table + col_name + " VARCHAR(255) DEFAULT NULL"

        elif dtype == 'float64':
            create_table = create_table + col_name + " DECIMAL(10,2) DEFAULT NULL"

        if i != len(col_names) - 1:
            create_table += ", \n"

    #newline for cleaner print format and ; for execution
    create_table += "\n);"

    print(create_table)
    
    return create_table

In [25]:
TABLES = {}
TABLES['zillow_tb']= create_table_schema(df_zillow,'zillow_tb')
TABLES['airbnb_tb'] = create_table_schema(df_airbnb,'airbnb_tb')
TABLES['rental_tb'] = create_table_schema(df_rental_sample,'rental_tb')
TABLES['selling_tb'] = create_table_schema(df_selling_sample,'selling_tb')

CREATE TABLE IF NOT EXISTS zillow_tb (
	region VARCHAR(255) DEFAULT NULL,
	regionname VARCHAR(255) DEFAULT NULL,
	statename VARCHAR(255) DEFAULT NULL,
	countyname VARCHAR(255) DEFAULT NULL,
	cityname VARCHAR(255) DEFAULT NULL,
	forecasteddate VARCHAR(255) DEFAULT NULL,
	forecastyoypctchange VARCHAR(255) DEFAULT NULL
);
CREATE TABLE IF NOT EXISTS airbnb_tb (
	id VARCHAR(255) DEFAULT NULL,
	neighbourhood VARCHAR(255) DEFAULT NULL,
	latitude VARCHAR(255) DEFAULT NULL,
	longitude VARCHAR(255) DEFAULT NULL,
	room_type VARCHAR(255) DEFAULT NULL,
	price VARCHAR(255) DEFAULT NULL,
	minimum_nights VARCHAR(255) DEFAULT NULL,
	reviews_per_month VARCHAR(255) DEFAULT NULL,
	zipcode VARCHAR(255) DEFAULT NULL
);
CREATE TABLE IF NOT EXISTS rental_tb (
	mls_# VARCHAR(255) DEFAULT NULL,
	status VARCHAR(255) DEFAULT NULL,
	rental_residential_styles VARCHAR(255) DEFAULT NULL,
	address_number VARCHAR(255) DEFAULT NULL,
	address_street VARCHAR(255) DEFAULT NULL,
	zip VARCHAR(255) DEFAULT NULL,
	bedrooms_total VARCHAR(255) DEFAULT NULL,
	baths_full VARCHAR(255) DEFAULT NULL,
	baths_half VARCHAR(255) DEFAULT NULL,
	estimated_square_feet VARCHAR(255) DEFAULT NULL,
	levels VARCHAR(255) DEFAULT NULL,
	year_built VARCHAR(255) DEFAULT NULL,
	listing_type VARCHAR(255) DEFAULT NULL,
	price_reflects VARCHAR(255) DEFAULT NULL,
	domls VARCHAR(255) DEFAULT NULL,
	list_price_(h) VARCHAR(255) DEFAULT NULL,
	original_price VARCHAR(255) DEFAULT NULL,
	list_date_received VARCHAR(255) DEFAULT NULL,
	rented_price VARCHAR(255) DEFAULT NULL,
	close_of_escrow_date VARCHAR(255) DEFAULT NULL
);
CREATE TABLE IF NOT EXISTS selling_tb (
	mls_# VARCHAR(255) DEFAULT NULL,
	status VARCHAR(255) DEFAULT NULL,
	residential_styles VARCHAR(255) DEFAULT NULL,
	address_number VARCHAR(255) DEFAULT NULL,
	address_street VARCHAR(255) DEFAULT NULL,
	zip VARCHAR(255) DEFAULT NULL,
	map_coordinates VARCHAR(255) DEFAULT NULL,
	community VARCHAR(255) DEFAULT NULL,
	bedrooms_total VARCHAR(255) DEFAULT NULL,
	baths_full VARCHAR(255) DEFAULT NULL,
	baths_half VARCHAR(255) DEFAULT NULL,
	estimated_square_feet VARCHAR(255) DEFAULT NULL,
	year_built VARCHAR(255) DEFAULT NULL,
	domls VARCHAR(255) DEFAULT NULL,
	list_price_(h) VARCHAR(255) DEFAULT NULL,
	original_price VARCHAR(255) DEFAULT NULL,
	list_date_received VARCHAR(255) DEFAULT NULL,
	sold_price VARCHAR(255) DEFAULT NULL,
	close_of_escrow_date VARCHAR(255) DEFAULT NULL
);

## 4. Create database SDRE_data and tables

In [35]:
## Save data into database 
# Create database
def set_database(db_name):
    try:
        db_con = mysql.connector.connect(host='localhost', user='root',password='root1234')
        if db_con.is_connected():
            cursor = db_con.cursor()
#             cursor.execute("SHOW DATABASES")
#             print([x for x in cursor])
            cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
            print("Database %s is created" %db_name)
        db_con.close()   
    except Error as e:
        print("Error while connecting to MySQL", e)

In [38]:
def create_tables(tables):
    db_con = mysql.connector.connect(host='localhost', user='root',password='root1234',database = 'SDRE_data')
    if db_con.is_connected():
        cursor = db_con.cursor() 
        for table in TABLES:
            cursor.execute(f'DROP TABLE IF EXISTS {table};')
            #data.to_sql(tb_name, db_con, if_exists='fail');
            cursor.execute(TABLES[table])
            print(f'table {TABLES[table]} is created.')

In [37]:
set_database("SDRE_data")
create_tables(TABLES)

Database SDRE_data is created

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'status VARCHAR(255) DEFAULT NULL,
	rental_residential_styles VARCHAR(255) DEFAU' at line 3

In [17]:
def insert_table_statement(df, table_name):
    
    col_names = df.columns
    col_n = len(col_names)
    
    #statement for inserting values into table
    insert_statement = "INSERT INTO %s (" %table_name
    values = " VALUES ("
    insert_statement

    for i, col_name in enumerate(col_names):

        col_name = col_name.lower().replace(' ', '_')
        
        insert_statement = insert_statement + col_name 
        if i != col_n-1:
            insert_statement+= ","
        

    insert_statement += ") VALUES (" + "%s,"*(col_n-1) + "%s" +")"
    
    return insert_statement

In [18]:
def insert_data_to_table(data,tb_name):
    db_con = mysql.connector.connect(host='localhost', user='root',password='root1234',database = 'SDRE_data')

    if db_con.is_connected():
        cursor = db_con.cursor() 

        insert_statement = insert_table_statement(data,tb_name)
        for i in range(len(data)):
            cursor.execute(insert_statement,tuple(data.iloc[i].to_list()))
        db_con.commit()

        db_con.close()

In [19]:
insert_data_to_table(df_zillow,tb_name = 'zillow_tb')

In [20]:
df_zillow.shape

(23589, 7)

In [21]:
insert_data_to_table(df_airbnb,tb_name = 'airbnb_tb')
df_airbnb.shape

(10301, 9)

## Querying data from mysql

In [153]:
db_con = mysql.connector.connect(host='localhost', user='root',password='root1234',database = 'SDRE_data')

if db_con.is_connected():
    cursor = db_con.cursor() 
    query = ("SELECT * from zillow_tb where CountyName = 'San Diego County' ")

    cursor.execute(query)
    results = list(cursor.fetchall())

In [154]:
print(results)

[('Zip', '91901', 'CA', 'San Diego County', 'Alpine', '2023-01-31', '28.1'), ('Zip', '91902', 'CA', 'San Diego County', 'Bonita', '2023-01-31', '28.4'), ('Zip', '91905', 'CA', 'San Diego County', 'Boulevard', '2023-01-31', '30.2'), ('Zip', '91906', 'CA', 'San Diego County', 'Campo', '2023-01-31', '27.9'), ('Zip', '91910', 'CA', 'San Diego County', 'Chula Vista', '2023-01-31', '28.0'), ('Zip', '91911', 'CA', 'San Diego County', 'Chula Vista', '2023-01-31', '27.0'), ('Zip', '91913', 'CA', 'San Diego County', 'Chula Vista', '2023-01-31', '28.5'), ('Zip', '91914', 'CA', 'San Diego County', 'Chula Vista', '2023-01-31', '28.8'), ('Zip', '91915', 'CA', 'San Diego County', 'Chula Vista', '2023-01-31', '28.3'), ('Zip', '91916', 'CA', 'San Diego County', 'Descanso', '2023-01-31', '24.8'), ('Zip', '91917', 'CA', 'San Diego County', 'Dulzura', '2023-01-31', '26.2'), ('Zip', '91931', 'CA', 'San Diego County', 'Descanso', '2023-01-31', '24.8'), ('Zip', '91932', 'CA', 'San Diego County', 'Imperial Beach', '2023-01-31', '27.7'), ('Zip', '91934', 'CA', 'San Diego County', 'Jacumba', '2023-01-31', '26.4'), ('Zip', '91935', 'CA', 'San Diego County', 'Jamul', '2023-01-31', '27.6'), ('Zip', '91941', 'CA', 'San Diego County', 'La Mesa', '2023-01-31', '29.1'), ('Zip', '91942', 'CA', 'San Diego County', 'La Mesa', '2023-01-31', '29.3'), ('Zip', '91945', 'CA', 'San Diego County', 'Lemon Grove', '2023-01-31', '28.1'), ('Zip', '91948', 'CA', 'San Diego County', 'Mount Laguna', '2023-01-31', '16.0'), ('Zip', '91950', 'CA', 'San Diego County', 'National City', '2023-01-31', '27.1'), ('Zip', '91962', 'CA', 'San Diego County', 'Descanso', '2023-01-31', '27.0'), ('Zip', '91963', 'CA', 'San Diego County', 'Potrero', '2023-01-31', '24.0'), ('Zip', '91977', 'CA', 'San Diego County', 'Spring Valley', '2023-01-31', '27.7'), ('Zip', '91978', 'CA', 'San Diego County', 'Spring Valley', '2023-01-31', '27.9'), ('Zip', '91980', 'CA', 'San Diego County', 'Tecate', '2023-01-31', '31.4'), ('Zip', '92003', 'CA', 'San Diego County', 'Bonsall', '2023-01-31', '28.1'), ('Zip', '92004', 'CA', 'San Diego County', 'Borrego Springs', '2023-01-31', '12.4'), ('Zip', '92007', 'CA', 'San Diego County', 'Encinitas', '2023-01-31', '29.3'), ('Zip', '92008', 'CA', 'San Diego County', 'Carlsbad', '2023-01-31', '30.4'), ('Zip', '92009', 'CA', 'San Diego County', 'Carlsbad', '2023-01-31', '30.5'), ('Zip', '92010', 'CA', 'San Diego County', 'Carlsbad', '2023-01-31', '29.5'), ('Zip', '92011', 'CA', 'San Diego County', 'Carlsbad', '2023-01-31', '30.7'), ('Zip', '92014', 'CA', 'San Diego County', 'Del Mar', '2023-01-31', '30.7'), ('Zip', '92019', 'CA', 'San Diego County', 'El Cajon', '2023-01-31', '28.3'), ('Zip', '92020', 'CA', 'San Diego County', 'El Cajon', '2023-01-31', '28.4'), ('Zip', '92021', 'CA', 'San Diego County', 'El Cajon', '2023-01-31', '27.8'), ('Zip', '92024', 'CA', 'San Diego County', 'Encinitas', '2023-01-31', '30.0'), ('Zip', '92025', 'CA', 'San Diego County', 'Escondido', '2023-01-31', '28.5'), ('Zip', '92026', 'CA', 'San Diego County', 'Escondido', '2023-01-31', '28.2'), ('Zip', '92027', 'CA', 'San Diego County', 'Escondido', '2023-01-31', '28.4'), ('Zip', '92028', 'CA', 'San Diego County', 'Fallbrook', '2023-01-31', '27.4'), ('Zip', '92029', 'CA', 'San Diego County', 'Escondido', '2023-01-31', '29.2'), ('Zip', '92036', 'CA', 'San Diego County', 'Julian', '2023-01-31', '27.3'), ('Zip', '92037', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.1'), ('Zip', '92040', 'CA', 'San Diego County', 'Lakeside', '2023-01-31', '28.1'), ('Zip', '92054', 'CA', 'San Diego County', 'Oceanside', '2023-01-31', '28.9'), ('Zip', '92056', 'CA', 'San Diego County', 'Oceanside', '2023-01-31', '28.4'), ('Zip', '92057', 'CA', 'San Diego County', 'Oceanside', '2023-01-31', '28.0'), ('Zip', '92058', 'CA', 'San Diego County', 'Oceanside', '2023-01-31', '28.7'), ('Zip', '92059', 'CA', 'San Diego County', 'Pala', '2023-01-31', '27.5'), ('Zip', '92060', 'CA', 'San Diego County', 'Palomar Mountain', '2023-01-31', '29.6'), ('Zip', '92061', 'CA', 'San Diego County', 'Pauma Valley', '2023-01-31', '27.2'), ('Zip', '92064', 'CA', 'San Diego County', 'Poway', '2023-01-31', '30.0'), ('Zip', '92065', 'CA', 'San Diego County', 'Ramona', '2023-01-31', '27.6'), ('Zip', '92066', 'CA', 'San Diego County', 'Ranchita', '2023-01-31', '26.5'), ('Zip', '92067', 'CA', 'San Diego County', 'Rancho Santa Fe', '2023-01-31', '29.3'), ('Zip', '92069', 'CA', 'San Diego County', 'San Marcos', '2023-01-31', '28.4'), ('Zip', '92070', 'CA', 'San Diego County', 'Santa Ysabel', '2023-01-31', '28.6'), ('Zip', '92071', 'CA', 'San Diego County', 'Santee', '2023-01-31', '28.3'), ('Zip', '92075', 'CA', 'San Diego County', 'Solana Beach', '2023-01-31', '29.9'), ('Zip', '92078', 'CA', 'San Diego County', 'San Marcos', '2023-01-31', '29.3'), ('Zip', '92081', 'CA', 'San Diego County', 'Vista', '2023-01-31', '28.7'), ('Zip', '92082', 'CA', 'San Diego County', 'Valley Center', '2023-01-31', '27.2'), ('Zip', '92083', 'CA', 'San Diego County', 'Vista', '2023-01-31', '27.7'), ('Zip', '92084', 'CA', 'San Diego County', 'Vista', '2023-01-31', '28.4'), ('Zip', '92086', 'CA', 'San Diego County', 'Warner Springs', '2023-01-31', '27.5'), ('Zip', '92091', 'CA', 'San Diego County', 'Rancho Santa Fe', '2023-01-31', '28.8'), ('Zip', '92101', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '25.0'), ('Zip', '92102', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '27.9'), ('Zip', '92103', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '27.1'), ('Zip', '92104', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.7'), ('Zip', '92105', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.9'), ('Zip', '92106', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.0'), ('Zip', '92107', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.6'), ('Zip', '92108', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '27.1'), ('Zip', '92109', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.4'), ('Zip', '92110', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '27.8'), ('Zip', '92111', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.5'), ('Zip', '92113', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.1'), ('Zip', '92114', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '27.2'), ('Zip', '92115', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.7'), ('Zip', '92116', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.7'), ('Zip', '92117', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.8'), ('Zip', '92118', 'CA', 'San Diego County', 'Coronado', '2023-01-31', '27.2'), ('Zip', '92119', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.8'), ('Zip', '92120', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.1'), ('Zip', '92121', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.3'), ('Zip', '92122', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.1'), ('Zip', '92123', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.2'), ('Zip', '92124', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.0'), ('Zip', '92126', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.3'), ('Zip', '92127', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '30.9'), ('Zip', '92128', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.0'), ('Zip', '92129', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '31.2'), ('Zip', '92130', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '30.2'), ('Zip', '92131', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '29.9'), ('Zip', '92139', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '28.3'), ('Zip', '92154', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '27.4'), ('Zip', '92173', 'CA', 'San Diego County', 'San Diego', '2023-01-31', '27.1')]

In [146]:
df_zillow[df_zillow.CityName == 'San Diego']

,Region,RegionName,StateName,CountyName,CityName,ForecastedDate,ForecastYoYPctChange
21087,Zip,92037,CA,San Diego County,San Diego,2023-01-31,29.1
21111,Zip,92101,CA,San Diego County,San Diego,2023-01-31,25.0
21112,Zip,92102,CA,San Diego County,San Diego,2023-01-31,27.9
21113,Zip,92103,CA,San Diego County,San Diego,2023-01-31,27.1
21114,Zip,92104,CA,San Diego County,San Diego,2023-01-31,28.7
21115,Zip,92105,CA,San Diego County,San Diego,2023-01-31,28.9
21116,Zip,92106,CA,San Diego County,San Diego,2023-01-31,29.0
21117,Zip,92107,CA,San Diego County,San Diego,2023-01-31,28.6
21118,Zip,92108,CA,San Diego County,San Diego,2023-01-31,27.1
21119,Zip,92109,CA,San Diego County,San Diego,2023-01-31,29.4
21120,Zip,92110,CA,San Diego County,San Diego,2023-01-31,27.8
21121,Zip,92111,CA,San Diego County,San Diego,2023-01-31,28.5
21122,Zip,92113,CA,San Diego County,San Diego,2023-01-31,28.1
21123,Zip,92114,CA,San Diego County,San Diego,2023-01-31,27.2
21124,Zip,92115,CA,San Diego County,San Diego,2023-01-31,28.7
21125,Zip,92116,CA,San Diego County,San Diego,2023-01-31,28.7
21126,Zip,92117,CA,San Diego County,San Diego,2023-01-31,28.8
21128,Zip,92119,CA,San Diego County,San Diego,2023-01-31,29.8
21129,Zip,92120,CA,San Diego County,San Diego,2023-01-31,29.1
21130,Zip,92121,CA,San Diego County,San Diego,2023-01-31,28.3
21131,Zip,92122,CA,San Diego County,San Diego,2023-01-31,28.1
21132,Zip,92123,CA,San Diego County,San Diego,2023-01-31,29.2
21133,Zip,92124,CA,San Diego County,San Diego,2023-01-31,29.0
21134,Zip,92126,CA,San Diego County,San Diego,2023-01-31,29.3
21135,Zip,92127,CA,San Diego County,San Diego,2023-01-31,30.9
21136,Zip,92128,CA,San Diego County,San Diego,2023-01-31,29.0
21137,Zip,92129,CA,San Diego County,San Diego,2023-01-31,31.2
21138,Zip,92130,CA,San Diego County,San Diego,2023-01-31,30.2
21139,Zip,92131,CA,San Diego County,San Diego,2023-01-31,29.9
21140,Zip,92139,CA,San Diego County,San Diego,2023-01-31,28.3
21141,Zip,92154,CA,San Diego County,San Diego,2023-01-31,27.4
21142,Zip,92173,CA,San Diego County,San Diego,2023-01-31,27.1

In [ ]:
sqlEngine       = create_engine('mysql://root:root1234@localhost/SDRE_data', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

test_df = pd.read_sql("select * from SDRE_data.df_zillow", dbConnection);

 

pd.set_option('display.expand_frame_repr', False)
dbConnection.close()

In [ ]:
# try:
#     conn = mysql.connect(host='localhost', database='employee', user='root', password='root@123')
#     if conn.is_connected():
#         cursor = conn.cursor()
#         cursor.execute("select database();")
#         record = cursor.fetchone()
#         print("You're connected to database: ", record)
#         cursor.execute('DROP TABLE IF EXISTS employee_data;')
#         print('Creating table....')
# # in the below line please pass the create table statement which you want #to create
#         cursor.execute("CREATE TABLE employee_data(first_name varchar(255),last_name varchar(255),company_name varchar(255),address varchar(255),city varchar(255),county varchar(255),state varchar(255),zip int,phone1 varchar(255),phone2 varchar(255),email varchar(255),web varchar(255))")
#         print("Table is created....")
#         #loop through the data frame
#         for i,row in empdata.iterrows():
#             #here %S means string values 
#             sql = "INSERT INTO employee.employee_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
#             cursor.execute(sql, tuple(row))
#             print("Record inserted")
#             # the connection is not auto committed by default, so we must commit to save our changes
#             conn.commit()
# except Error as e:
#             print("Error while connecting to MySQL", e)

In [ ]:
def load_zillow(href,con):